target/linux/Module.symvers
target/linux/System.map
target/linux/include/linux/compat_autoconfig.h

target/linux/compat/
target/linux/udev/
target/linux/include/
target/linux/scripts/

target/linux/.compat_base
target/linux/.compat_base_tree
target/linux/.compat_base_tree_version
target/linux/.compat_version
target/linux/config.mk
target/linux/.config.mk_md5sum.txt

target/linux/.compat_autoconf*

*.tmp_versions/

target/linux/src
target/linux/patches/

!.gitignore

*.order
modules
.config
*.mod.c
*.o
*.a
*.ko
*.so
*.lst
*.symtypes
*.elf
*.bin
*.gz
*.bz2
*.patch
*.gcno
*.lzo
*.xz

